<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}"></head>
<style>
    .about-page{
        background-color: white;
        width:60%;
        padding: 0 2em;
        margin: 0 auto;
        margin-top: 13em;
        border-radius: 5px;
        padding-top: 2em;
    }
    .about-page2{
        background-color: white;
        height: 100%;
        padding: 0 2em;
    }
</style>

<body>
    <div th:replace="~{fragments/navigation :: navigation}"></div>
    <div style=" height:400px; background-image:url('/img/about/about.jpeg');background-repeat: no-repeat;background-position: center;background-attachment: fixed;"
         class="inner-hero">
        <div class="hero-wrapper w-container">
            <div class="view-all"></div>
        </div>
        <div class="about-page">
            <div style="text-align: center;">
                <img src="/img/index/headp.jpg"
                     loading="lazy" height="171" width="171"
                     srcset="/img/index/headp.jpg"
                     sizes="171px" alt="" class="image" />
            </div>

            <div class="w-richtext">
                <h2>WHO AM I</h2>
                <p>2020年6月本科毕业🎓，网络工程专业。但不熟悉网络相关知识。</p>
                <p>上学期间，普普通通，平平无奇。因社恐，唯一的交友方式可能就只有体育活动了；独来独往的唯一不便就是吃饭不能AA，也吃不到太多种类。</p>
                <h4>爱好 Hobby</h4>
                <p>剑道一级（未来的及考段）、羽毛球、游泳、定向越野，擅长体育，四肢发达。推理小说爱好者、柯南忠实粉丝。摄影，剪辑，会photoshop，爱玩，不喜欢上班。</p>
                <!--                    <p></p>-->
                <h4>说明 Info</h4>
                <p>此博客于2021年重新搭建，原地址到期被清空资源，现腾出时间整理，逐步恢复。</p>
                <h4>联系 Contact</h4>
                <p>
                    <img src="/img/about/qrcode.jpg"
                         loading="lazy" height="200" width="200"
                         srcset="/img/about/qrcode.jpg"
                         sizes="200px" alt=""  />
                </p>
            </div>

        </div>
    </div>
    <div class="about-page2">

    </div>



    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>